<div class="list-group w-50 m-auto pt-5">
    <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        First checkbox
    </label>
    <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Second checkbox
    </label>
    <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Third checkbox
    </label>
    <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Fourth checkbox
    </label>
    <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        Fifth checkbox
    </label>
    <button class="mt-5 btn btn-primary">Ajouter un objectif</button>
</div>